.aboutMe{
    p{
        color: $mediumGrey;
        margin: 0 auto 30px;
        line-height: 30px;
        letter-spacing: .05em;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        max-width: 750px;
    }
    .aboutGrid{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        .gridItem{
            margin: 5px;
            width: 260px;
            text-align:center;
            vertical-align: top;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            span {
                width: 102px;
                img {
                    object-fit: contain;
                }
            }
            h3 {
                line-height: 1;
            }
            
            p{
                font-size: 15px;
                margin: 20px auto;
                color: $mediumGrey;
                line-height: 26px;
                letter-spacing: .03em;
                font-weight: 300;
                width: 100%;
            }
            &:first-of-type{
                margin-left:0;
            }
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}