* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased!important;
    outline:none;
    
}

a{
    text-decoration:none;
    outline:none!important;
    color:inherit;
}

html, body{
    width: 100%;
}

body{
    font-size:16px;
    line-height: 1.3;
    color: $black;
    font-family: $textFont;
    overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: $headerFont;
}

h2{
    font-size: 34px;
    text-align: center;
    margin: 0;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

hr{
    color: $black;
    margin: 30px auto;
    background-color: $mediumGrey;
    height: 1px;
    width: 106px;
    border: 0;
    }

h3{
    margin-top: 32px;
    font-size: 26px;
    color: $black;
    line-height: 1.2;
    letter-spacing: 6px;
    width: 100%;
    font-weight: 400;
}

.container{
    max-width: 960px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}