* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
    font-smoothing: antialiased;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

html, body {
    width: 100%;
}

body {
    font-size: 16px;
    line-height: 1.3;
    color: $black;
    font-family: $textFont;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin: 0;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

hr {
    margin: 30px auto;
    height: 1px;
    width: 106px;
    border: 0;
    background-color: $mediumGrey;
}

h3 {
    margin-top: 32px;
    font-size: 26px;
    color: $black;
    line-height: 1.2;
    letter-spacing: 6px;
    font-weight: 400;
    width: 100%;
}

.container {
    max-width: 960px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}
