.projects{
    .projectItem{
        text-align:center;
        .projectOverview{
            padding: 75px 0;
            background-color:#F6F6F6;
            position: relative;
            h1{
                font-size: 32px;
            }
            p{
                color: #a4a4a4;
                margin: 35px auto;
                width: 85%;
                line-height: 1.5;
                letter-spacing: .04em;
                font-size: 18.5px;
                font-weight: 300;
                text-align: center;
            }
            a{
                width: 200px;
                height: 70px;
                position: relative;
                margin: 50px auto 0;
                display: inline-block;
                line-height: 70px;
                border: 1px solid $black;
                text-transform: uppercase;
                text-align: center;
                color: $black;
                cursor: pointer;
                font-size: 14px;
                background: none;
                @include transition(all, .3s);
                letter-spacing: 1px;
                &:hover{
                    color: white;
                    background-color: $black;
                }
            }
            a.github{
                margin-left: 30px;
            } 
        }
        .projectDemo{
            padding: 115px 0;
            position:relative;
            overflow:hidden;
            .compVideo{
                position:relative;
                text-align:center;
                margin: 0 auto;
                max-width: 700px;
                video{
                    position: absolute;
                    top:2px;
                    left: 0px;
                    width: 100%;
                    padding: 3.75%;
                    border-radius: 25px;
                    z-index: -1;
                }
                
            }
            .topAngle{
                width: 110%;
                height: 150px;
                position: absolute;
                left: 0;
                top: -129px;
                background-color: #F6F6F6;
                transform: rotate(
            1deg
            );
            }
            .bottomAngle{
                width: 110%;
                height: 150px;
                position: absolute;
                left: 0;
                bottom: -129px;
                background-color: #171717;
                transform: rotate(
            -1deg);
            }
        }
    }
}